<!-- <div class="container-lg mt-4">
  <div class="row">
    <div
      class="col-md-3 box-shadow"
      *ngFor="let item of productsService.products; index as i"
    >
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">{{ item.name }}</h6>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="./assets/images/{{ item.photo }}" />
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
          >
            <a routerLink="/products/{{ item.id }}">View Details</a>
          </button>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{ item.price | currency }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
