<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-4 box-shadow">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Computers</h4>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="./assets/images/laptops.png" />
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='/computers'"
          >
            View
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4 box-shadow">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">TVs</h4>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="./assets/images/tvs.png" />
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='/tvs'"
          >
            View
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4 box-shadow">
      <div class="p-3 card border bg-light">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Appliances</h4>
        </div>
        <div class="card-body">
          <img class="img-fluid mb-4" src="./assets/images/appliances.png" />
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            onclick="window.location.href='/appliances'"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
